<div class="row">
  <div class="col s12">

    <!-- Title -->
    <div class="row">
      <div class="col s12">
        <div class="center-align">
          <h4>James Drool</h4>
        </div>
      </div>
    </div>

    <!-- Messages-box -->
    <div class="row">
      <div class="col s12">
        <div class="card z-depth-0 message-box">

          <div class="row">
            <div class="col s8">
              <div class="left">
                One common flaw we've seen in many frameworks is a lack of support for truly responsive text. While
                elements on the page resize fluidly, text still resizes on a fixed basis. To ameliorate this problem,
                for text heavy pages, we've created a class that fluidly scales text size and line-height to optimize
                readability for the user. Line length stays between 45-80 characters and line height scales to be
                larger on smaller screens.

                To see Flow Text in action, slowly resize your browser and watch the size of this text body change! Use
                the button above to toggle off/on flow-text to see the difference!
                <div class="grey-text">3 min ago</div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col s8 offset-s4">
              <div class="right">
                One common flaw we've seen in many frameworks is a lack of support for truly responsive text. While
                elements on the page resize fluidly, text still resizes on a fixed basis. To ameliorate this problem,
                for text heavy pages, we've created a class that fluidly scales text size and line-height to optimize
                readability for the user. Line length stays between 45-80 characters and line height scales to be
                larger on smaller screens.

                To see Flow Text in action, slowly resize your browser and watch the size of this text body change! Use
                the button above to toggle off/on flow-text to see the difference!
                <div class="grey-text">1 min ago</div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col s8">
              <div class="left">
                One common flaw we've seen in many frameworks is a lack of support for truly responsive text. While
                elements on the page resize fluidly, text still resizes on a fixed basis. To ameliorate this problem,
                for text heavy pages, we've created a class that fluidly scales text size and line-height to optimize
                readability for the user. Line length stays between 45-80 characters and line height scales to be
                larger on smaller screens.

                To see Flow Text in action, slowly resize your browser and watch the size of this text body change! Use
                the button above to toggle off/on flow-text to see the difference!
                <div class="grey-text">3 min ago</div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Input-box -->
    <div class="row">
      <form>
        <div class="col s12">
          <label for="message">Type your Message</label>
          <input id="message" type="text" class="validate" name="message" required>
          <button class="btn z-depth-0 my-btn black-text">Submit</button>
        </div>
      </form>
    </div>

  </div>
</div>